/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  line-height: 140%;
}

/* Utility classes */

.container {
  max-width: 1100px;
  background: #f4f4f4;
  overflow: hidden;
  margin: auto;
}

.l-heading {
  font-size: 80px;
  font-weight: bold;
}

h1,h2,h3,h4,h5 {
  margin-bottom: 50px;
  font-style: inherit;
  letter-spacing: 5px;
}

.m-heading {
  font-size: 35px;
  font-weight: bold;
}

.lead {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #444;
  font-weight: bolder;
}

.py-1 { padding: 15px 0 ;}
.py-2 { padding: 20px 0 ;}
.py-3 { padding: 30px 0 ;}

.p-1 { padding: 15px;}
.p-2 { padding: 20px;}
.p-3 { padding: 30px;}

a {
  text-decoration: none;
}

p {
  margin: 20px 0;
}

.btn {
  display: inline-block;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: #333;
  border: none;
}

.btn-dark {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background: #93cb52;
  color: #fff;
  border: none;
}

.btn-dark:hover {
  background: #7ab436;
}

.btn:hover {
  background: #f4f4f4;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  z-index: 1;
  box-shadow: 0px 1px 22px -5px rgba(0,0,0,0.75);
  font-weight: bold;
  top: 0;
}

#navbar p {
  font-style: italic;
  margin: 0; !important
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li a {
  padding: 12px;
  margin: 0 5px;
  color: #333;
}

#navbar ul li a:hover {
  background: #f4f4f4;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: url('../img/hamburger.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  /* Over lay */
  position: absolute;
  top: 62px;
  left: 0; 
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}

/* About */
#about {
  display: flex;
  height: 100vh;
  width: 80%;
  margin: auto;
  border-bottom: 0.1px #333 solid;
  overflow: hidden;
}

#about div {
  flex: 1;
}

#about .about-img {
  background: url('../img/tablesetting.jpg') no-repeat center center;
  display: block;
  margin-top: 50px;
  opacity: 0.8;
}

#about .about-content p {
  line-height: 120%;
  font-size: 20px;
}

/* Our menu */
#menu {
  display: flex;
  height: 100vh;
  padding: 60px 0;
  margin-top: 50px;
  width: 80%;
  margin: auto;
  border-bottom: 0.1px #333 solid;
  overflow: hidden;
}

#menu div {
  flex: 1;
}

#menu .menu-content {
  padding: 0 60px;
}

#menu .menu-content p {
  line-height: 150%;
  font-size: 16px;
}

#menu .menu-content h3 {
  margin: 0;
}

#menu div {
  margin-bottom: 40px;
}

#menu .menu-img {
  background: url('../img/tablesetting2.jpg') no-repeat left top;
  height: 100%;
  opacity: 0.8;
}

/* Contact */
#contact {
  display: flex;
}

#contact .img, 
#contact .contact-form {
  flex: 1;
}

#contact .form-group label {
  display: block;
  margin-bottom: 5px;
}

#contact .form-group {
  margin: 20px;
}

#contact .form-group input,
#contact .form-group textarea {
  padding: 10px;
  width: 100%;
}

#contact .img {
  background: url('../img/food.jpg') no-repeat center center/cover;
  border-radius: 50%;
  opacity: 0.8;
}

/* Footer */
#main-footer {
  background: #f4f4f4;
}

#main-footer h3 {
  margin: 0;
}