* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.p-2 { padding: 20px;}
.p-6 { padding: 60px;}

.text-primary {
  color: #93cb52;
}

#navbar {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  position: sticky;
  z-index: 5;
  top: 0;
  background: #fff;
}

#navbar ul {
  display: flex;
  list-style: none;
  padding: 25px 0px;
}

#navbar ul li {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

#navbar ul li a {
  color: #333;
}

#navbar ul li:hover {
  background: #93cb52;
  cursor: pointer;
}

#showcase {
  background: url('../img/dog.jpg') no-repeat center center/cover;
  height: 50vh;
  background-attachment: fixed;
}

#character img {
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 350px;
  border: 4px #333 solid;;
}

#character .border-1 {
  width: 50%;
  padding-top: 120px;
  margin: auto;
  border-bottom: 1px #333 solid;
}

#character .character-1 {
  display: flex;
}

#character .img1,
#character .content {
  flex: 1;
}

#character .img1 {
  background: url('../img/dog-2.jpg') no-repeat center center/cover;
  height: 500px;
  margin-right: 20px;
}

#character .content {
  font-size: 22px;
  text-align: center;
}

/*  */
#character .character-2 {
  display: flex;
}

#character .img2,
#character .content {
  flex: 1;
}

#character .img2 {
  background: url('../img/dog-2.jpg') no-repeat center center/cover;
  height: 500px;
  margin-left: 20px;
}

#character .content {
  font-size: 22px;
  text-align: center;
}

#footer-main {
  padding: 50px;
  background: #333;
  text-align: center;
  font-size: 30px;
}